*{
    margin:0 ;
    padding:0;
    font-family: cursive;
    color: #000000;
}

.tarjetaUSUARIO{
    border: 3px solid #babebe;
    width: 350px; /*ancho*/
    margin:20px ;
    height: 250px;
}

.azul{
    background-color: rgb(28, 141, 161);
    height: 70px;
}

.ftPERFIL{
    width: 65px;
    border: 3px solid rgb(228, 222, 222);
    border-radius: 65%;
    position: relative;
    top: 35px;
    left: 15px;
}

.texto{
    height: 10px;
    flex-direction: column;
    display: flex;
    padding: 15px;
    margin-top: 15px;
}
.icono{
    width: 10px;
}


    










