h1 {
    color: rgb(165, 74, 255);
    font-size: 50px;
}
body{
    background-color: rgb(236, 170, 227);
}
.is-centered {
    text-align: center;
}
.is-red {
    color: red;
}
h1 {
    color: cyan;
    background-color: grey;
  }
  
