.row{
    display: flex;
}
.col{
    flex: 1;
    padding: 20px;
    margin: 10px;
    background-color: rgb(185, 94, 245);
}
.col-2 {
    flex: 2;
    padding: 20px;
    margin: 10px;
    background-color: rgb(141, 230, 215);
}
.col-3 {
    flex: 3;
    padding: 20px;
    margin: 10px;
    background-color: rgb(216, 90, 228);
}

